<div fxLayout="column" fxFlex>
    <ng-container *ngIf="(compact$ | async); else desktopView">
		<mat-tab-group mat-stretch-tabs *ngIf="(teams$| async) as teams">
			<mat-tab label="B1G">
				<mat-list>
					<ng-container *ngFor="let team of teams">
						<mat-list-item>{{ team.team }}</mat-list-item>
					</ng-container>
				</mat-list>
			</mat-tab>
			<mat-tab label="SEC">
				<mat-list>
					<ng-container *ngFor="let team of teams">
						<mat-list-item>{{ team.team }}</mat-list-item>
					</ng-container>
				</mat-list>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
	<ng-template #desktopView>

	</ng-template>
</div>
