<div fxLayout="column" fxFlex>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Season 1</mat-card-title>
            <mat-card-subtitle>After Week 11</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-drawer-container>
        <mat-drawer-content>
            <ng-container *ngIf="media.isActive('lt-sm')">
                <mat-nav-list fxFlex>
                    <ng-container *ngFor="let streamer of streamers">
                        <mat-list-item (click)="userDrawer.toggle()">
                            <!-- <img mat-list-icon *ngIf="streamer.avatar" [src]="streamer.avatar"> -->
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                            <div mat-line>
                                <ng-container *ngIf="streamer.rank">
                                    # {{ streamer.rank }}
                                </ng-container>
                                {{ streamer.team }} ({{ streamer.record }})
                            </div>
                            <div mat-line>
                                {{ streamer.name }}
                            </div>
                        </mat-list-item>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </ng-container>
                </mat-nav-list>
            </ng-container>
            <ng-container *ngIf="media.isActive('gt-xs')">
                <table mat-table [dataSource]="streamers" fxFlex>
        
                    <!-- Rank Column -->
                    <ng-container matColumnDef="rank">
                        <th mat-header-cell *matHeaderCellDef> Rank </th>
                        <td mat-cell *matCellDef="let element"> {{ element.rank }} </td>
                    </ng-container>
            
                    <!-- Team Column -->
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let element"> {{ element.team }} </td>
                    </ng-container>
        
                    <!-- Record Column -->
                    <ng-container matColumnDef="record">
                        <th mat-header-cell *matHeaderCellDef> Record </th>
                        <td mat-cell *matCellDef="let element"> {{ element.record }} </td>
                    </ng-container>
            
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="userDrawer.toggle()"></tr>
                </table>
            </ng-container>
        </mat-drawer-content>
        <mat-drawer #userDrawer [mode]="'over'" position="end">
            <app-user></app-user>
        </mat-drawer>
    </mat-drawer-container>
</div>
