<div fxLayout="column" fxFill>
    <mat-toolbar>
        <button mat-icon-button [routerLink]="'/football/users'">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        Back to Users
    </mat-toolbar>
    <mat-card style="margin: 16px; padding: 16px;">
        <mat-card-header>
            <img mat-card-avatar class="user-image" [src]="'./assets/rhombus_tv.png'">
            <mat-card-title>Rhombus</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <div fxLayout fxLayoutAlign="space-around center" style="margin-top: 16px;">
                <button mat-icon-button color="primary" (click)="goToLink('https://twitch.tv/rhombus_tv')">
                    <img style="max-height: 32px; max-width: 32px;" [src]="'./assets/twitch.png'">
                </button>
                <button mat-icon-button color="primary" (click)="goToLink('https://twitter.com/rhombus_tv')">
                    <img style="max-height: 32px; max-width: 32px;" [src]="'./assets/twitter.png'">
                </button>
                <button mat-icon-button color="primary" (click)="goToLink('https://www.youtube.com/channel/UCCAXqgotIjU80a7G6b87BLA')">
                    <img style="max-height: 32px; max-width: 32px;" [src]="'./assets/youtube.png'">
                </button>
                <button mat-icon-button color="primary" (click)="goToLink('https://discord.gg/7ecptRj')">
                    <img style="max-height: 32px; max-width: 32px;" [src]="'./assets/discord.png'">
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>